body{
    background: linear-gradient(0.25turn, #3f87a6, #8c20bb, #f69d3c);
}
.main{
    background-color: darkslategray;
    position: absolute;
    left: 41%;
    top: 20%;
    padding: 30px;
    padding-left: 40px;
    border-radius: 15px;
    opacity: 0.8;
    padding-bottom: 60px;
    height: 200px;
}
button{
    border: none;
    margin-top: 30px;
    width: 210px;
    position: absolute;
    left: 40px;
    background: linear-gradient(0.25turn, rgb(4, 4, 252), rgb(20, 162, 209));
    box-shadow: 0 4px blue;
}
button:hover{
    cursor: pointer;
}
button:active{
    box-shadow: 0 5px ;
    transform: translateY(4px);
}
input{
    outline: none;
    opacity: 0.9;
    margin-top: 6px;
    
    border: none;
}

#bmi_label{
    position: absolute;
    bottom: 40px;
    left: 85px;
}
#result_label{
    position: absolute;
    bottom: 25px; 
    left: 95px;   
}
select{
    width: 45px;
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}